body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}



/*--------------------------------------------- 
               header part
----------------------------------------------*/
.header-style{
    font-size: 24px;
    margin-left: 120px;
    margin-top: 85px;
}
.main-part{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.main-left-part{
    width: 582px;
    height: 270px;
    margin-left: 120px;
    margin-top: 40px;
}
.main-heading{
    font-size: 26px;
}
.main-image{
    width: 440px;
    height: 414px;
    left: 835px;
    top: 211px;
}
.button{
    background-color: #E02C6D;
    width: 130px;
    display: flex;
    padding: 10px 24px;
    border-radius: 40px;
    justify-content: center;
}
.main-btn{
    text-decoration: none;
    color: white;
}
.fa-arrow-right {
    margin-left: 10px;
}



/* ------------------------------------------
               Brand logo
---------------------------------------------- */
.brand-logo{
    display: flex;
    width: 1110px;
    height: 110px;
    margin-left: 165px;
    margin-top: 65px;
    margin-bottom: 50px;
    justify-content: center;
    flex-direction: column;
}
.logos{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    
}
.logo-custom{
    display: flex;
    justify-content: space-between;
    justify-content: center
    
}
.logo img{
    margin-right: 54px;
    width: 100px;
    height: 28px;
}



/*-------------------------------------------
              Main Section 
----------------------------------------------*/
.main-section{
    margin-left: 195px;
    width: 1047px;
    height: 1662px;
}
.second-header{
    font-size: 24px;
    text-align: center;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: #fdfafa;
    justify-items: center;
}
.grids{
    width: 330px;
    height: 475px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 30px;
}
.grid-images{
    width: 300px;
    height: 256px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 17px;
}
.grid-title{
    margin-left: 15px;
    margin-top: 16px;
    width: 252px;
    height: 40px;
}
.price{
    margin-left: 15px;
    margin-top: 6px;
}
.rattings{
    margin-left: 15px;
}
.fa-star{
    color: #FB8200;
}
.fa-star-half-alt{
    color: #FB8200;
}
.rattings-number{
    color: #5E6366;
    margin-left: 8px;
}
.service{
    color: #787885;
    margin-left: 15px;
}
.second-btn{
    text-decoration: none;
    color: #E02C6DDE;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



/* -------------------------------------------------
                Second Section 
-----------------------------------------------------*/
.second-section{
    width: 1110px;
    height: 270px;
    margin-left: 165px;
    margin-bottom: 100px;
    margin-top: 70px;
}
.feature-product{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}



/* -----------------------------------------
                Footer
--------------------------------------------- */
.footer{
    background: #3d135a;
    height: 250px;
    display: grid;
    justify-content: center;
    align-content: center;
}
.custom-footer{
    width: 300px;
    height: 150px;
    display: grid;
    justify-content: center;
    align-content: center;
}
.footer-align{
    text-align: center;
    color: white;
}
.footer-awesome{
    color: white;
}
.footer-awesome i{
    margin-right: 10px;
    font-size: 30px;
}



/* ----------Media Query------------ */


/*---------------- Mobile Device----------------- */


/* -----------------------------
--------Header section----------------
-------------------------------- */

@media only screen and (max-width: 688px)  {
    .main-part{
        grid-template-columns: repeat(1, 1fr);
    }
    .main-left-part{
        width: 100%;
        height: 100%;
    }
    .main-image{
        width: 100%;
        height: 100%;
    }
}   


/* -----------------------------
--------Main Section ----------------
-------------------------------- */

@media only screen and (max-width: 688px)  {
    .main-section{
        width: 100%;
        height: 100%;
        margin-left: 100px;
    }
    .grid-images{
        width: 100%;
    }
    .products{
        grid-template-columns: repeat(1, 1fr);
    }
}



/* @media only screen and (max-width: 688px)  {
    .second-section{
        width: 100px;
        height: 100px;
    }
    .feature-product{
        grid-template-columns: repeat(1, 1fr);
    }
    .feature-image{
        margin-bottom: 50px;
        margin-top: 50px;
    }
} */




/* -----------------------------
--------footer section ----------------
-------------------------------- */

@media only screen and (max-width: 688px)  {
    .footer{
        width: 700px;
    }
    .custom-footer{
        width: 100%;
    }
} 




/* ----------Media Query------------ */

/*---------------- i pad  Medium device----------------- */

/* -----------------------------
--------Main Section ----------------
-------------------------------- */

@media only screen and (min-width: 688px) and (max-width: 992px) {
    .main-section{
        width: 100%;
        height: 100%;
        margin-left: 100px;
    }
    .grid-images{
        width: 100%;
    }
    .products{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* -----------------------------
--------footer section ----------------
-------------------------------- */

@media only screen and (min-width: 688px) and (max-width: 992px) {
    .footer{
        width: 1200px;
    }
    .custom-footer{
        width: 100%;
    }
} 

/* --------------------------------------------------
            Display Hide content 
-----------------------------------------------------*/

.second-section{
    display: none;
}
.brand-logo{
    display: none;
}